body{
            margin: 0 ;
            padding: 0;
            box-sizing: border-box;
        }
        nav{
            margin: 0;
            height: 42px;
            /* background-color: aqua; */
        }
        .nav-wrap{
            margin: 0 auto;
            width: 1100px;
            height: 42px;
            border: 1px solid red;
        }
        .nav-link{
            display: flex;
            gap: 6px;

        }
        .home{
            background-size: contain;
            width: 10px;
            background: url(https://img.megabox.co.kr/static/pc/images/common/bg/bg-location-home.png);
            background-repeat: no-repeat;
            background-position: center;  
            background-size: 15px;  
            margin-top:10px ;
        }
        .arrow-right{
            background-size: contain;
            width: 13px;
            background: url(https://img.megabox.co.kr/static/pc/images/common/bg/bg-location-arr.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 5px;
            margin-top:10px ;
        }
        a{
            text-decoration: none;
            color: #666666;
            font-style: NanumBarunGothic, Dotum, '돋움', sans-serif;
            font-weight: 400;
            padding-top: 9px;
        }
        a:hover{
            text-decoration: underline;
        }