    h1 {
        font-family: serif;
        border: 1px solid red;
        background-color: aqua;
      }
      h2 {
        color: blue;
        background-color: blanchedalmond;
      }
      h3 {
        color: white;
        border: 5px solid royalblue;
        background-color: black;
      }
      h4 {
        color: black;
        background-color: yellow;
      }