<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>자판기프로그램</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      body {
        width: 1500px;
        height: auto;
        margin: 0 auto;
      }
      #wrapper {
        width: 500px;
        height: auto;
        margin: 0 auto;
        border: 1px solid black;
        text-align: center;
      }
      table {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <div id="wrapper">
      <div class="box">
        <p>자판기 프로그램</p>
      </div>
      <div>
        <p>자판기 상품 목록</p>
      </div>
      <div >
        <p>한글</p>
        <button>logo</button>
        <p>ENG</p>
      </div>
      <div>
        <button>logo</button>
      </div>
      <div>
        <p>상품 목록이 비어있습니다.</p>
        <table>
          <tr>
            <th>번호</th>
            <th>상품명</th>
            <th>가격</th>
            <th>유통기한</th>
            <th>수정</th>
            <th>삭제</th>
          </tr>
          <tr>
            <td>1.</td>
            <td>불고기버거</td>
            <td>1000</td>
            <td>2023-12-20</td>
            <td><button>수정</button></td>
            <td><button>삭제</button></td>
          </tr>
        </table>
        <p>총 1개의 상품이 있습니다.</p>
        <button>상품추가하기!</button>
      </div>
    </div>
  </body>
</html>
